:root{
     --cor-de-fundo: #F9E1F8;
     --branco: #FFFFFF; 
     --rosa-choque: #F331A5;
     --rosa-escuro:#EC6EBA;
     --botao-ativo: #EDCFEA;
     --botao-inativo: rgba(184, 132, 173, 0.5);
     --texto-fundo: rgba(255, 255, 255, 0.41);


}